.content-body{
    float: left;
    position: relative;
    width: 100%;
}
.rounded{
    border-radius: 50%;
}
.col-thumb{    
    height: 246px !important;
    padding-right: 16px !important;
    padding-bottom: 20px !important;
}
.img-thumb{
    width: 100%;
}
.center-content-body{
    width: calc(100% - 170px);
    float: left;
    position: relative;
    padding: 20px 0;
}
.container_thumbnail{
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: opacity 0.3s;
}
.container-input-top{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    /* padding: 0 20px; */
}
.form-control {
    padding: 0;
    height: 42px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #fff;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
.form-control:focus{
    background: #ffffff;
    transition: background 0.2s;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
}
.w-10pc{
    width: 10%;
}
.w-20pc{
    width: 20%;
}
.w-30pc{
    width: 30%;
}
.w-30pc{
    width: 30%;
}
.w-40pc{
    width: 40%;
}
.w-50pc{
    width: 50%;
}
.w-60pc{
    width: 60%;
}
.w-70pc{
    width: 70%;
}
.w-80pc{
    width: 80%;
}
.w-90pc{
    width: 90%;
}
.w-100pc{
    width: 100%;
}
.ft-left-p-rel{
    float: left;
    position: relative;
}
.ft-right-p-rel{
    float: right;
    position: relative;
}
.ft-left-p-ab{
    float: left;
    position: absolute;
}
.ft-right-p-ab{
    float: right;
    position: absolute;
}
.al-center{
    left: 50%;
    transform: translateX(-50%);
}
.txt-center{
    text-align: center;
}
.mg-tp-bt-5px{
    margin: 5px 0;
}
.mg-tp-bt-10px{
    margin: 10px 0;
}
.mg-tp-bt-15px{
    margin: 15px 0;
}
.mg-tp-bt-20px{
    margin: 20px 0;
}
.mg-tp-bt-25px{
    margin: 25px 0;
}
.mg-tp-bt-30px{
    margin: 30px 0;
}
.mg-tp-bt-35px{
    margin: 35px 0;
}
.mg-tp-bt-40px{
    margin: 40px 0;
}
.mg-tp-bt-45px{
    margin: 45px 0;
}

.mg-lf-rg-5px{
    margin: 0 5px;
}
.mg-lf-rg-10px{
    margin: 0 10px;
}
.mg-lf-rg-15px{
    margin: 0 15px;
}
.mg-lf-rg-20px{
    margin: 0 20px;
}
.mg-lf-rg-25px{
    margin: 0 25px;
}
.mg-lf-rg-30px{
    margin: 0 30px;
}
.mg-lf-rg-35px{
    margin: 0 35px;
}
.mg-lf-rg-40px{
    margin: 0 40px;
}
.mg-lf-rg-45px{
    margin: 0 45px;
}

.pd-rg-lt-5px{
    padding: 0 5px;
}
.pd-rg-lt-10px{
    padding: 0 10px !important;
}
.pd-rg-lt-15px{
    padding: 0 15px !important;
}
.pd-rg-lt-20px{
    padding: 0 20px;
}
.pd-rg-lt-25px{
    padding: 0 25px;
}
.pd-rg-lt-30px{
    padding: 0 30px;
}
.pd-rg-lt-35px{
    padding: 0 35px;
}
.pd-rg-lt-40px{
    padding: 0 40px;
}
.pd-rg-lt-45px{
    padding: 0 45px;
}


.pd-tp-bt-5px{
    padding: 5px 0;
}
.pd-tp-bt-10px{
    padding: 10px 0;
}
.pd-tp-bt-15px{
    padding: 15px 0;
}
.pd-tp-bt-20px{
    padding: 20px 0;
}
.pd-tp-bt-25px{
    padding: 25px 0;
}
.pd-tp-bt-30px{
    padding: 30px 0;
}
.pd-tp-bt-35px{
    padding: 35px 0;
}
.pd-tp-bt-40px{
    padding: 40px 0;
}
.pd-tp-bt-45px{
    padding: 45px 0;
}
.mg-tp-5px{
    margin-top: 5px;
}
.mg-tp-10px{
    margin-top: 10px;
}
.mg-tp-15px{
    margin-top: 15px;
}
.mg-tp-20px{
    margin-top: 20px;
}
.mg-tp-25px{
    margin-top: 25px;
}
.mg-tp-30px{
    margin-top: 30px;
}
.margin-user-img{
    margin: 5px 15px;
    padding: 0;
    float: right;
}
.position-dp-user{
    width: 260px;
    padding-bottom: 0;
    top: 40px;
    right: -10px;
}
.font-rb{
    font-family: Roboto, Arial, sans-serif;
}
.txt-size-12px{
    font-size: 12px;
}
.txt-size-13px{
    font-size: 13px;
}
.txt-size-14px{
    font-size: 14px;
}
.txt-size-15px{
    font-size: 15px;
}
.txt-size-16px{
    font-size: 16px;
}
.txt-size-17px{
    font-size: 17px;
}
.txt-size-18px{
    font-size: 18px;
}
.txt-weight-100{
    font-weight: 100;
}
.txt-weight-200{
    font-weight: 200;
}
.txt-weight-300{
    font-weight: 300;
}
.txt-weight-400{
    font-weight: 400;
}
.txt-weight-500{
    font-weight: 500;
}
.txt-weight-600{
    font-weight: 600;
}
.txt-weight-700{
    font-weight: 700;
}
.txt-weight-800{
    font-weight: 800;
}
.txt-white{
    color: #ffffff;
}
.txt-grey-1{
    color: rgba(255, 255, 255, 0.7);
}
.h-h1{
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    flex-basis: 0.000000001px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background: transparent !important;
    font-family: Roboto, Arial, sans-serif !important;
    margin-top: 32px !important;
    margin-bottom: 12px !important;
    margin-left: 85px !important;
    margin-right: 85px !important;
}
.item-menu{
    padding: 10px 8px;
    color: #fff;
    height: 44px;
    line-height: 24px;
}
.item-menu:hover{
    background-color: #464545;
    cursor: pointer;
}