/*
Color accent #52aedf
*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 6px;    
    min-height: 50px;
}
::-webkit-scrollbar-track {
    background-color: #333;
}
.body{
    font-family: Roboto, Arial, sans-serif !important;
}

.p-ab{
    position: absolute !important;
}
.content-body{
    float: left;
    position: relative;
    width: 100%;
}
.bg-opacity-content{
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.bg-opacity-main{
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: none;
}
.bg-opacity-content{
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    display: none;
}
.rounded{
    border-radius: 50%;
}
.col-thumb{
    min-height: 270px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-bottom: 20px !important;
}
.img-thumb{
    width: 100%;
}
.bg-black{
    background-color: #000;
}
.center-content-body{
    width: calc(100% - 170px);
    float: left;
    position: relative;
    padding: 20px 0;
}
.container_thumbnail{
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: opacity 0.3s;
}
.container-info-thumb-video{
    width: 100%;
    float: left;
    position: relative;
    padding-bottom: 10px;
}
.container-input-top{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    /* padding: 0 20px; */
}
.form-control {
    padding: 0;
    height: 42px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #fff;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
.form-control:focus{
    background: #ffffff;
    transition: background 0.2s;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
}
.h-100pc{
    height: 100%;
}
.section-content{
    width: 100%;
    height: calc(100% - 65px);
}
.wh-100pc{
    width: 100%;
    height: 100%;
}
.w-10pc{
    width: 10%;
}
.w-20pc{
    width: 20%;
}
.w-30pc{
    width: 30%;
}
.w-30pc{
    width: 30%;
}
.w-40pc{
    width: 40%;
}
.w-50pc{
    width: 50%;
}
.w-60pc{
    width: 60%;
}
.w-70pc{
    width: 70%;
}
.w-80pc{
    width: 80%;
}
.w-90pc{
    width: 90%;
}
.w-100pc{
    width: 100%;
}
.w-100pc-item-game-selected{
    width: calc(100% - 100px);
}
.v-aling-desc-game-selected{
    line-height: 15px;
    min-height: 30px;
}
.ft-left-p-rel{
    float: left;
    position: relative;
}
.ft-right-p-rel{
    float: right;
    position: relative;
}
.ft-left-p-ab{
    float: left;
    position: absolute;
}
.ft-right-p-ab{
    float: right;
    position: absolute;
}
.container-watch-video{
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
}
.content-watch-video{
    float: left;
    position: relative;
    width: calc(100% - 380px);
    background-color: #333;
    overflow-y: scroll;
    height: 100%;
}
.video-player{
    float: left !important;
    position: relative !important;
    max-width: 100% !important;
    max-height: 500px !important;
    min-height: 300px !important;
    left: 50%;
    transform: translateX(-50%);
}
.container-column-rigth-video{
    float: right;
    position: relative;
    width: 380px;
    height: 100%;
}
.pos-spinner-main-white-1{
    position: fixed;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 9999;
    display: none;
}
.al-center{
    left: 50%;
    transform: translateX(-50%);
}
.v-al-center{
    top: 50%;
    transform: translateY(-50%);
}
.al-center-video{
    left: 50%;
    transform: translateX(-50%);
    float: left;
    position: relative;
}
.txt-left{
    text-align: left;
}
.txt-right{
    text-align: right;
}
.txt-center{
    text-align: center;
}
.mg-tp-bt-5px{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.mg-tp-bt-10px{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mg-tp-bt-15px{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.mg-tp-bt-20px{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.mg-tp-bt-25px{
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.mg-tp-bt-30px{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.mg-tp-bt-35px{
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
.mg-tp-bt-40px{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.mg-tp-bt-45px{
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}

.mg-lf-rg-5px{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.mg-lf-rg-10px{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.mg-lf-rg-15px{
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.mg-lf-rg-20px{
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.mg-lf-rg-25px{
    margin-left: 25px !important;
    margin-right: 25px !important;
}
.mg-lf-rg-30px{
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.mg-lf-rg-35px{
    margin-left: 35px !important;
    margin-right: 35px !important;
}
.mg-lf-rg-40px{
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.mg-lf-rg-45px{
    margin-left: 45px !important;
    margin-right: 45px !important;
}
.mg-lt-5px{
    margin-left: 5px !important;
}
.mg-lt-10px{
    margin-left: 10px !important;
}
.mg-lt-15px{
    margin-left: 15px !important;
}
.mg-lt-20px{
    margin-left: 20px !important;
}

.mg-rg-5px{
    margin-right: 5px !important;
}
.mg-rg-10px{
    margin-right: 10px !important;
}
.mg-rg-15px{
    margin-right: 15px !important;
}
.mg-rg-20px{
    margin-right: 20px !important;
}

.pd-rg-lt-5px{    
    padding-right: 5px !important;
    padding-left: 5px !important;
}
.pd-rg-lt-10px{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.pd-rg-lt-15px{
    padding-right: 15px !important;
    padding-left: 15px !important;
}
.pd-rg-lt-20px{
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.pd-rg-lt-25px{
    padding-right: 25px !important;
    padding-left: 25px !important;
}
.pd-rg-lt-30px{
    padding-right: 30px !important;
    padding-left: 30px !important;
}
.pd-rg-lt-35px{
    padding-right: 35px !important;
    padding-left: 35px !important;
}
.pd-rg-lt-40px{
    padding-right: 40px !important;
    padding-left: 40px !important;
}
.pd-rg-lt-45px{
    padding-right: 45px !important;
    padding-left: 45px !important;
}


.pd-tp-bt-5px{    
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.pd-tp-bt-10px{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.pd-tp-bt-15px{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.pd-tp-bt-20px{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.pd-tp-bt-25px{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.pd-tp-bt-30px{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.pd-tp-bt-35px{
    padding-top: 35px !important;
    padding-bottom: 35px !important;
}
.pd-tp-bt-40px{
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.pd-tp-bt-45px{
    padding-top: 45px !important;
    padding-bottom: 45px !important;
}
.pd-bt-5px{
    padding-bottom: 5px !important;
}
.pd-bt-10px{
    padding-bottom: 10px !important;
}
.pd-bt-15px{
    padding-bottom: 15px !important;
}
.pd-bt-20px{
    padding-bottom: 20px !important;
}
.pd-tp-5px{
    padding-top: 5px !important;
}
.pd-tp-10px{
    padding-top: 10px !important;
}
.pd-tp-15px{
    padding-top: 15px !important;
}
.pd-tp-20px{
    padding-top: 20px !important;
}
.pd-lt-5px{
    padding-left: 5px !important;
}
.pd-lt-10px{
    padding-left: 10px !important;
}
.pd-lt-15px{
    padding-left: 15px !important;
}
.pd-lt-20px{
    padding-left: 20px !important;
}
.pd-lt-25px{
    padding-left: 25px !important;
}
.pd-lt-30px{
    padding-left: 30px !important;
}
.pd-rg-5px{
    padding-right: 5px !important;
}
.pd-rg-10px{
    padding-right: 10px !important;
}
.pd-rg-15px{
    padding-right: 15px !important;
}
.pd-rg-20px{
    padding-right: 20px !important;
}
.pd-rg-25px{
    padding-right: 25px !important;
}
.pd-rg-30px{
    padding-right: 30px !important;
}
.pd-5px{
    padding: 5px !important;
}
.pd-10px{
    padding: 10px !important;
}
.pd-15px{
    padding: 15px !important;
}
.pd-20px{
    padding: 20px !important;
}
.mg-tp-5px{
    margin-top: 5px !important;
}
.mg-tp-10px{
    margin-top: 10px !important;
}
.mg-tp-15px{
    margin-top: 15px !important;
}
.mg-tp-20px{
    margin-top: 20px !important;
}
.mg-tp-25px{
    margin-top: 25px !important;
}
.mg-tp-30px{
    margin-top: 30px !important;
}
.margin-user-img{
    margin: 5px 15px;
    padding: 0;
    float: right;
}
.position-dp-user{
    width: 260px;
    padding-bottom: 0;
    top: 40px;
    right: -10px;
}
.position-dp-selec-games{
    width: 360px;
    padding-bottom: 0;
    top: 40px;
    right: 0px;
    min-height: 50px;
    display: none;
}
.c-pointer{
    cursor: pointer;
}
.ovf-main-menu{
    height: calc(100% - 65px);
    overflow-y: scroll;
}
.position-menu-main{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    display: none;
    float: left;
    width: 280px;
    padding: 0;
    background-color: #333333;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4) !important;
}
.wd-description-video{
    width: calc(100% - 40px);
}
.font-rb{
    font-family: Roboto, Arial, sans-serif !important;
}
.txt-size-10px{
    font-size: 10px;
}
.txt-size-11px{
    font-size: 11px;
}
.txt-size-12px{
    font-size: 12px;
}
.txt-size-13px{
    font-size: 13px;
}
.txt-size-14px{
    font-size: 14px;
}
.txt-size-15px{
    font-size: 15px;
}
.txt-size-16px{
    font-size: 16px;
}
.txt-size-17px{
    font-size: 17px;
}
.txt-size-18px{
    font-size: 18px;
}
.txt-weight-100{
    font-weight: 100;
}
.txt-weight-200{
    font-weight: 200;
}
.txt-weight-300{
    font-weight: 300;
}
.txt-weight-400{
    font-weight: 400;
}
.txt-weight-500{
    font-weight: 500;
}
.txt-weight-600{
    font-weight: 600;
}
.txt-weight-700{
    font-weight: 700;
}
.txt-weight-800{
    font-weight: 800;
}
.txt-white{
    color: #ffffff;
}
.txt-grey-1{
    color: rgba(255, 255, 255, 0.7);
}
.txt-grey-2{
    color: #333333eb;
}
.txt-grey-3 {
    color: rgba(255, 255, 255, 0.44);
}
.h-h1{
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    flex-basis: 0.000000001px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background: transparent !important;
    font-family: Roboto, Arial, sans-serif !important;
    margin-top: 32px !important;
    margin-bottom: 12px !important;
    margin-left: 85px !important;
    margin-right: 85px !important;
}
.menu-bb{
    border-bottom: solid 1px #cccccc26;
}
.item-menu{
    padding: 10px 8px;
    color: #fff;
    min-height: 44px;
    line-height: 24px;
}
.item-menu:hover{
    background-color: #464545;
    cursor: pointer;
}
.container-search-box{
    float: left;
    position: absolute;
    width: 60%;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    display: none;
}
.content-search-box{
    border-radius: 3px;
    background-color: #fff;    
    float: left;
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.item-search-box{
    float: left;
    position: relative;
    width: 100%;    
    padding: 10px 20px;
}
.item-search-box:hover{
    background-color: #efefef;
    cursor: pointer;
}
.container-img-result-item-search-box{
    width: 40px;
    float: left;
    margin-right: 15px;
}
.container-txts-item-search-box{
    width: calc(100% - 58px);
    float: right;
}
.content-txt-line-search-box1{
    height: 35px;
    width: 100%;
    line-height: 40px;
}
.content-txt-line-search-box2{
    height: 50%;
    width: 100%;
    line-height: 10px;
}
.row-border-separator{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.tag-chip-rounded-blue{
    background-color: #52aedf;
    border-radius: 10px;
    line-height: 11px;
    float: left;
    padding: 3px 10px;
    margin-top: 10px;
}
.container-video-title-thumb{
    line-height: 20px;
    padding-top: 10px;
    float: left;
    position: relative;
    width: 100%;
    height: 50px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*

*/
@media (max-width:768px){

    .center-content-body{
        width: calc(100% - 30px);
        float: left;
        position: relative;
        padding: 20px 0;
    }
    .h-h1{
        
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
    .container-search-box{        
        width: 90%;        
    }
}
@media all and (max-width:1280px){
    #id_select_game{
        display: none;
    }
}
@media all and (min-width: 1729px){
    .col-grid-videos{
        width: 20%;
    }
}

@media all and (min-width: 1331px) and (max-width: 1728px){
    .col-grid-videos{
        width: 25%;
    }
}
@media all and (min-width: 648px) and (max-width: 1330px){
    .col-grid-videos{
        width: 33.33%;
    }
}   
@media all and (min-width: 415px) and (max-width: 647px){
    .col-grid-videos{
        width: 50%;
    }
}
@media all and (min-width: 215px) and (max-width: 414px){
    .col-grid-videos{
        width: 100%;
    }
    .col-thumb {
        min-height: 270px !important;
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-bottom: 20px !important;
    }    
}
@media all and (min-width: 200px) and (max-width: 767px){
    .container-column-rigth-video{
        display: none;
    }    
    .content-watch-video {        
        width: 100%;        
    }
}